<br>
<div class="row">
  <div class="card col">
    <div class="ui statistics">
      <div class="red statistic">
        <div class="value">
          27
        </div>
        <div class="label">
          Red
        </div>
      </div>
      <div class="orange statistic">
        <div class="value">
          8
        </div>
        <div class="label">
          Orange
        </div>
      </div>
      <div class="yellow statistic">
        <div class="value">
          28
        </div>
        <div class="label">
          Yellow
        </div>
      </div>
      <div class="green statistic">
        <div class="value">
          14
        </div>
        <div class="label">
          Green
        </div>
      </div>
    </div> 
</div>
